<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
  <span class="align-middle" style="color: black; font-size: 15px;">Welcome to Employee Portal</span>
</a>

        <ul class="sidebar-nav">
          
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/employeedashboard">
      <i class="align-middle" data-feather="sliders" style="color: black; font-size: 15px;"></i> <span class="align-middle"  style="color: black; font-size: 15px;" >Home</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/employeedashboard">
      <i class="align-middle" data-feather="sliders" style="color: black; font-size: 15px;"></i> <span class="align-middle"  style="color: black; font-size: 15px;" >Log Daily Task</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link"  >
      <i class="align-middle" data-feather="user-plus" style="color: black; font-size: 15px;"></i> <span class="align-middle"  (click)="logout()" >Logout</span>
    </a>
            </li>
       
         

        

         

      


          
          


          

           

          

         

        

         
        </ul>

      
    </div>
</nav>
