<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand">
  <span class="align-middle"  style="color: black; font-size: 15px;">Welcome to Manager Portal</span>
</a>

        <ul class="sidebar-nav">
          
            <li class="sidebar-item ">
                <a class="sidebar-link"  routerLink="/managerDashboard">
      <i class="align-middle" data-feather="sliders" style="color: black; font-size: 15px;"></i> <span class="align-middle"  >Personal Detail</span>
    </a>
            </li>

            <li class="sidebar-item ">
                <a class="sidebar-link"  routerLink="/managerDashboard/employeedetail">
      <i class="align-middle" data-feather="sliders" style="color: black; font-size: 15px;"></i> <span class="align-middle">Employee Details</span>
    </a>
            </li>

          

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/managerDashboard/leaverequest">
      <i class="align-middle" data-feather="log-in" style="color: black; font-size: 15px;"></i> <span class="align-middle">Approve Leave</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/managerDashboard/employeedetail">
      <i class="align-middle" data-feather="user-plus" style="color: black; font-size: 15px;"></i> <span class="align-middle">Track Performance</span>
    </a>
            </li>

            
            <li class="sidebar-item">
              <a class="sidebar-link"  >
    <i class="align-middle" data-feather="user-plus" style="color: black; font-size: 15px;"></i> <span class="align-middle"  (click)="logout()" >Logout</span>
  </a>
          </li>

     
         

      

       
           


     

        


        </ul>

     
    </div>
</nav>
