

<div class="center  text-center">
    <h1>
    
        <span style="color: black;">Welcome to Company Portal</span>
      </h1>
    <div class="container">
    
  
        <div class="content">
  
         
            <div class="card  text-center  shadow-sm" style="width:400px">
                <img class="card-img-top mx-auto" src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=740&t=st=1700294702~exp=1700295302~hmac=81e64c3db6d24f28b8ee8b2402c73e061df69135fc7e582becfee25076386fa6" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title" style="color: black;">Are You a HR? </h4>
                 
                  <a  routerLink="/hrlogin" class="button-32">Login</a>
                </div>
              </div>
             
              <div class="card  text-center  shadow-sm" style="width:400px">
                <img class="card-img-top  mx-auto" src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?w=740&t=st=1700294796~exp=1700295396~hmac=95158ce5bd4bd13bc556377656c8606e545850b5ded82b4650a3da235798eec3" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title" style="color: black;">Are You a Employee?</h4>
                
                  <a routerLink="/employeelogin" class="button-32">Login </a>
                </div>
              </div>

              <div class="card  text-center  shadow-sm" style="width:400px">
                <img class="card-img-top   mx-auto" src="https://img.freepik.com/premium-vector/customer-service-man-with-laptop-with-headphones-microphone_559729-26.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title" style="color: black;">Are You a Manager?</h4>
                 
                  <a routerLink="/managerlogin"  class="button-32">Login</a>
                </div>
              </div>
              
        <!-- HTML !-->



        </div>
      <a routerLink="/vacancy"><h4 class="p-4"><small class="text-muted"> <span style="color: rgb(0, 174, 255); font-weight: 500; font-size: 15px;">Want to apply for new </span> <span style="color: red; font-weight: 500; font-size: 15px;"> Vacancy?</span></small></h4></a> 
  
      </div>
  
    </div>
  
  
  
   