<!-- <form style="font-family: Arial; font-size: 16px;" [formGroup]="attendanceForm" (ngSubmit)="submitAttendance()">
    <div style="margin-bottom: 20px;">
      <h3 style="margin-bottom: 10px;">Attendance:</h3>
      <div style="border: 1px solid #ccc; padding: 20px;">
        <fieldset style="border: none;">
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">Email:</label>
            <select formControlName="email" style="padding: 5px;">
      
              <option [value]="emaildata.email">{{ emaildata.email }}</option>
            </select>
          </div>
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">ID:</label>
            <select formControlName="id" style="padding: 5px;">

              <option  [value]="attendanceid">{{attendanceid}}</option>
            </select>
          </div>
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">Date:</label>
            <input type="date" formControlName="date" style="padding: 5px;">
          </div>
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">Status:</label>
            <input type="text" formControlName="status" style="padding: 5px;">
          </div>
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">Clock In:</label>
            <input type="time" formControlName="clockin" style="padding: 5px;">
          </div>
          <div style="margin-bottom: 10px;">
            <label style="display: inline-block; width: 100px; font-weight: bold;">Clock Out:</label>
            <input type="time" formControlName="clockout" style="padding: 5px;">
          </div>
        </fieldset>
      </div>
    </div>
    <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px;">Submit</button>
  </form> -->

  <div class="bodyclass">
    <div class="center">
    <h1 style="font-weight: 1000;">MARK ATTENDANCE</h1>
    <form style="font-family: Arial; font-size: 16px;" [formGroup]="attendanceForm" (ngSubmit)="submitAttendance()">
      <div style="margin-bottom: 20px;">
       
        <div style= "padding: 20px;">
          <fieldset style="border: none;">
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">Email:</label>
          
              <select formControlName="email" style="padding: 5px;">
        
                <option [value]="emaildata.email">{{ emaildata.email }}</option>
              </select>
            </div>
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">ID:</label>
              <select formControlName="id" style="padding: 5px;">
  
                <option  [value]="attendanceid">{{attendanceid}}</option>
              </select>
            </div>
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">Date:</label>
              <input type="date" formControlName="date" style="padding: 5px;">
            </div>
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">Status:</label>
              <input type="text" formControlName="status" style="padding: 5px;">
            </div>
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">Clock In:</label>
              <input type="time" formControlName="clockin" style="padding: 5px;">
            </div>
            <div style="margin-bottom: 10px;">
              <label style="display: inline-block; width: 100px; font-weight: 900;">Clock Out:</label>
              <input type="time" formControlName="clockout" style="padding: 5px;">
            </div>
          </fieldset>
        </div>
      </div>
      <button class="button-32" type="submit" style=" color: rgb(1, 1, 1); padding: 10px 20px; border: none; border-radius: 4px;">Submit</button>
    </form>
  </div>
  </div>